<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gloomhaven Companion</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <main id="app">    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Yet Another Gloomhaven Companion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" v-bind:class="{active: menu === 'home'}"> 
              <a class="nav-link" href="#" v-on:click="set('home')">Home</a>
            </li>
            <li class="nav-item" v-bind:class="{active: menu === 'abilities'}">
              <a class="nav-link" href="#" v-on:click="set('abilities')">Character abilities</a>
            </li>
            <li class="nav-item" v-bind:class="{active: menu ==='modifiers'}">
              <a class="nav-link" href="#" v-on:click="set('modifiers')">Deck modifiers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center" id="main_menu" v-if="menu == 'home'">
          Main page.
          In this page we shall see the two defined decks (abilities/modifiers),
          split in two sections for drawing/shuffling/resting
        </div>


        <!-- MODIFIERS -->
        <div class="col-lg-12 text-center" id="modifiers" v-if="menu == 'modifiers'">
          <div v-for="modifier in modifiers">
            <button v-on:click="displayModifiers(modifier.cards[0].name)"> <img v-bind:src="'data/'+modifier.cards[0].image" style="width:5em"/> </button>
            <div v-if="modifierCategory == modifier.cards[0].name">
              <span v-for='card in modifier.cards'><img v-bind:src="'data/'+card.image" style="width:8em"/></span>
            </div>            
          </div>          
        </div>




        <!-- ABILITIES -->
        <div class="col-lg-12 text-center container" id="abilities" v-if="menu == 'abilities'">    
          <div class="row justify-content-start">
            <div class="col"v-for='ability in abilities' >
              <button v-if='abilityCategory == null || abilityCategory == ability' class="btn btn-light" v-on:click="displayAbilities(ability)">
                <img v-bind:src="'data/'+ability.cards[0].image" style="width:8em"/>
              </button>                           
            </div>                
          </div>      

          <div v-if='abilityCategory != null' class="row justify-content-start">
            <div class="abilityContainer" v-for='(card,i) in abilityCategory.cards' >
              <div class="col" v-if="i != 0">
                <img v-bind:src="'data/'+card.image" style="width:8em" class="image"></img>             
                <div class="abilityButtons">
                  <button v-if="!abilitiesChosen.includes(card)" v-on:click="addAbility(card)" class="add btn btn-light">
                    Add
                  </button>
                  <button v-else v-on:click="removeAbility(card)" class="remove btn btn-light">
                    Remove
                  </button>
                </div>
              </div>                    
            </div>
          </div>   
        
        </div>
      </div>
    </div>
  </main>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/vuejs/vue.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/database.js"></script>
  <script src="js/main.js"></script>
  

</body>

</html>
